{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Sr7Media - Update Profile</title>
{% endblock %}

{% block content %}
<div class="container text-center">
  <h1>Update Profile</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="mb-3 text-center">
          <label for="profileInput" style="cursor: pointer;">
              <img id="imagePreview" 
                   src="{{ user_profile.profileimg.url }}" 
                   alt="Profile Image" 
                   width="150px" 
                   height="150px" 
                   style="object-fit: cover; border-radius: 50%; border: 2px solid #ccc; display: block; margin: auto;">
          </label>
      
          <input id="profileInput" name="profile" type="file" class="form-control" accept="image/*" 
                 style="display: none;" onchange="previewProfile(event)">
      </div>
    <div class="mb-3">
      <label class="form-label fw-bold">Bio</label>
      <textarea style="height: 170px;" class="form-control" name="bio" id="">{{user_profile.bio}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary w-100">Save</button>
  </form>

</div>
{% endblock %}