{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Sr7Media - Posts</title>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center p-0">

    <div  style="width: 600px;">
        {% if user_profile.user == other_user_profile.user %}
        <h1>Your Posts</h1>
        {% else %}
        <h3>@{{other_user_profile.user}} Posts</h3>
        {% endif %}
        {% for post in user_posts reversed %}
        <div class="container rounded p-0">
            <div class="d-flex justify-content-between align-items-center bg-light px-3 py-2 w-100">
                <div class="d-flex align-items-center">
                    <div class="d-flex justify-content-center align-items-center rounded-circle bg-light"
                        style="width: 40px;height: 40px; overflow: hidden;">
                        <a class="text-decoration-none" href="{{post.user_image.url}}">
                            <img class="img-fluid" src="{{post.user_image.url}}"
                                style="max-width: 100%; max-height: 100%;">
                        </a>
                    </div>

                    <span class="ps-2"><a class="text-decoration-none text-dark fw-bold"
                            href="{% url 'profile_url' pk=post.user %}">{{post.user}}</a></span>
                </div>
                {% if user_profile.user == other_user_profile.user %}
                <div>
                    <div class="dropdown ">
                        <button class="btn" type="button" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-ellipsis-vertical text-dark"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end ">
                            <li>
                                <a class="dropdown-item" href="{% url 'delete_url' pk=post.id %}">Delete</a>
                            </li>

                        </ul>
                    </div>

                </div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-center bg-dark" style="width: 100%; height: 250px; overflow: hidden;">
                <img class="img-fluid" style="max-width: 100%; max-height: 100%;" src="{{post.image.url}}">

            </div>

            <div class="d-flex justify-content-between align-items-center bg-light px-3 py-2 w-100 ">
                <div class="d-flex justify-content-start column-gap-3">
                    <div class="d-flex align-items-center">
                        <a href="{% url 'like_url' %}?post_id={{ post.id }}"
                            onclick="toggleLike(event, '{{ post.id }}')">
                            <i id="like-icon-{{ post.id }}" class="fa-heart fs-4 
                                {% if post.is_liked_by_user %} fa-solid text-danger 
                                {% else %} fa-regular text-dark {% endif %}"></i>
                        </a>
                        <span class="ps-1" id="like-count-{{ post.id }}">
                            {% if post.like_count == 0 %}
                            No Likes
                            {% elif post.like_count == 1 %}
                            1 Like
                            {% else %}
                            {{ post.like_count }} Likes
                            {% endif %}
                        </span>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0)" onclick="showComments('{{ post.id }}')">
                            <i class="fa-regular fa-comment text-dark fa-lg fs-4"></i>
                        </a>
                        <span class="ps-1" id="comment-count-{{ post.id }}">
                            {% if post.comment_count == 0 %}
                            No Comments
                            {% elif post.comment_count == 1 %}
                            1 Comment
                            {% else %}
                            {{ post.comment_count }} Comments
                            {% endif %}
                        </span>

                    </div>
                </div>
                <a href="{{post.image.url}}" download><i class="fa-solid fa-download text-dark"></i></a>
            </div>
            <p class="bg-light px-3 py-2 "><a class="text-decoration-none text-dark fw-bold"
                    href="{% url 'profile_url' pk=post.user %}">{{post.user}}</a> {{post.caption}}</p>
        </div>
        {% endfor %}
        <div class="modal" tabindex="-1" id="comment-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Comments</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="comment-list">

                    </div>
                    <div class="p-2">
                        <form id="comment-form" onsubmit="submitComment(event)">
                            <textarea id="comment-text" class="form-control"
                                placeholder="Write a comment..."></textarea>
                            <button type="submit" class="btn btn-primary mt-2">Submit Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}